nav,footer {
    background-image: url('../imagenes/fondo_02.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #border3 {
    width: 330px;
    height: 330px;
    border: 10px outset black;
    border-radius: 110%;
  }

  #border2 {
    width: 310px;
    height: 310px;
    border: 10px double #3bb4c1;
    border-radius: 100%;
  }

  #border1 {
    width: 290px;
    height: 290px;
    border: 10px dashed red;
    border-radius: 100%;
  }

  p {
    color: white;
  }

  table {
    font-size: 12px;
  }